{% extends 'main/base.html' %}

{% block title %}
Редактировать запись
{% endblock %}

{% block nav %}
<li class="nav-item">
        <a class="nav-link" href="{% url 'main' %}">Главная</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Редактирование записи</a>
      </li>
{% endblock %}

{% block content %}
<div class="container">
<h1>Редактирование устройства {{ get_device.hostname }}</h1>
    <form id="edit_form" method="post">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
            {{  form.hostname|as_crispy_field }}<br>
            </div>
            <div class="form-group col-md-4 mb-0">
            {{  form.inv_num|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
            {{  form.location|as_crispy_field }}
            </div>
         </div>
        {{  form.desc|as_crispy_field }}
        <button form="edit_form" type="submit" class="btn btn-success">Редактировать</button><br>
        <span> {{ error }}</span>
    </form>
    </div>
{% endblock %}