{% extends 'main/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/pagination/style.css">
<link rel="stylesheet" href="/static/table/style.css">
<link rel="stylesheet" href="/static/search/style.css">
{% endblock %}

{% block style %}
table {
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 15px;
}

.pagination > li > a,
.pagination > li > span {
    color: black;
    border-color: black;
}

select {
    width: 182px;
    height: 30px;
}

{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<!-- FILTER AND BUTTONS -->
{% load widget_tweaks %}
<div class="container center">
    <form method="get" class="form" id="content">
      <p class='field'>
          {{ filter.form.location|attr:"class:text-input"|attr:"placeholder:Расположение"|attr:"width:30%" }}
      </p>
      <p class='field'>
        <button type="submit" class="button"><i class="fa fa-search"></i></button>
      </p>
      <p class='field'>
      <button type="button" class="button" data-toggle="modal" data-target="#exampleModal"><i class="far fa-plus-square"></i></button>
      </p>
    </form>
</div>
<!-- END OF FILTER AND BUTTONS -->

<!--- P A G I N A T O R --->
<div class="container" style="margin-left: auto; margin-right: auto; justify-content: center;">
        <div class="pagination" style="margin-left: auto; margin-right: auto; justify-content: center;">
          {% if page_obj.has_previous %}
          <a href="?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><i class="fas fa-chevron-left"></i></a>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <a style="color: #FB667A;" href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a>
            {% elif i > page_obj.number|add:-4 and i < page_obj.number|add:4 %}
            <a href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><i class="fas fa-chevron-right"></i></a>
          {% endif %}
        </div>
    </div>
<!-- END OF PAGINATOR -->

<!-- TABLE -->
{% if location %}

<table class="container">
	<thead>
		<tr>
      <th><h1>Расположение</h1></th>
      <th><h1>Редактировать</h1></th>
      <th><h1>Удалить</h1></th>
    </tr>
  </thead>
    <tbody>
        {% for el in location %}
      <td>{{ el }}</td>
      <td><a href="/edit_loc/{{el.id}}" style="color:white">
            <div class="icon-center" align="center">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                </svg>
          </div></a>
      </td>
      <td>
          <form id="delete_form_{{el.id}}" action="{% url 'delete_loc' el.id %}" method="post">{% csrf_token %}</form>
          <a href="javascript:void()" onclick="delete_question_{{el.id}}()" style="color:white">
              <script>
	            function delete_question_{{el.id}}() {
		            if (confirm("Хотите удалить запись {{el.location}} ?")) {
			            document.getElementById('delete_form_{{el.id}}').submit()
			                  }
			            }
              </script>
          <div class="icon-center" align="center">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
          </div></a>
      </td>
    </tr>
        {% endfor %}
      </tbody>
</table>
    {% else %}
        <h1>В базе данных нет записей</h1>
    {% endif %}
<!-- END OF TABLE -->

<!-- MODAL FORM -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal_title" id="exampleModalLabel">Modal title</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" class='form'>
          {% csrf_token %}
          <p class='field'>
            <label class='label' for='location'>Добавить новое расположение</label>
            {{ form.location }}
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <p class='field'>
        <button type="button" class="button" data-dismiss="modal">Close</button>
        </p>
        <p class='field'>
        <button type="button" class="button">Save changes</button>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- END OF MODAL FORM -->
{% endblock %}
