{% extends 'main/base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/form/style.css">
{% endblock %}

{% block style %}
{% endblock %}

{% block title %}
Загрузка данных из файла CSV
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}

<div><h1 align="center">Загрузка данных из файла CSV</h1></div><br>
<div class="container">
<form method="post" class='form' id="upload_form">
    {% csrf_token %}
      <p class='field'>
        <label class='label'>Выберете файл</label>
          {{ form.file_name }}
      </p>
    <p class='field'>
    <button form="upload_form" type="submit" class="button">Загрузить</button>
    </p>
</form>
</div>

{% endblock %}
