<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/nav/style.css">
{% block head %}{% endblock %}
{% block script %}
{% endblock %}
<style>
   {% block style %}{% endblock %}

  html {
    -webkit-font-smoothing: antialiased;
  }
	body {
    padding: 2em;
	  color: #fff;
    background-color: #111111;
    font-family: "Titillium Web", sans-serif;
  }
  @media screen and (min-width: 40em) {
    body {
      font-size: 1.25em;
        -webkit-background-size: 100%; 
    }  
       }
    .asteriskField {
       display: none;
       }
       
    
</style>
    <title>{% block title %}{% endblock %}</title>
    <span id="login_text">{{ request.user.get_full_name }}</span> <a id="logout_ref" href="{% url 'logout' %}">Выйти</a>
</head>

<body>
<ul>
  {% url 'main' as url_main%}
	<li {% if url_main == request.path %} style="color: #FB667A;"{% endif %}><a {% if url_main == request.path %} style="color: #FB667A;"{% endif %} href="{{url_main}}">Главная    </a></li>
	{% url 'upload' as url_upload %}
  <li {% if url_upload == request.path %} style="color: #FB667A;"{% endif %}><a {% if url_upload == request.path %} style="color: #FB667A;"{% endif %} href="{{url_upload}}">Загрузка CSV</a></li>
	{% url 'create' as url_create %}
  <li {% if url_create == request.path %} style="color: #FB667A;"{% endif %}><a {% if url_create == request.path %} style="color: #FB667A;"{% endif %} href="{{url_create}}">Добавить устройство</a></li>
</ul>

      {% block nav %}
        {% endblock %}
        {% block content %}{% endblock %}
</body>
</html>