{% extends 'main/base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static "pagination/style.css" %}">
<link rel="stylesheet" href="{% static "table/style.css" %}">
<link rel="stylesheet" href="{% static "search/style.css" %}">
{% endblock %}

{% block style %}
table {
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 15px;
}

.pagination > li > a,
.pagination > li > span {
    color: black;
    border-color: black;
}

select {
    width: 182px;
    height: 30px;
}

{% endblock %}

{% block script%}
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% load widget_tweaks %}

<!-- FILTER -->
<div class="container center">
    <form method="get" class="form" id="content">
      <p class='field'>
          {{ filter.form.hostname|attr:"class:text-input"|attr:"placeholder:Имя узла" }}
      </p>
      <p class='field'>
          {{ filter.form.name|attr:"class:text-input"|attr:"placeholder:Название" }}
      </p>
      <p class='field'>
          {{ filter.form.ipaddr|attr:"class:text-input"|attr:"placeholder:IP адрес" }}
      </p>
      <p class='field'>
          {{ filter.form.inv_num|attr:"class:text-input"|attr:"placeholder:Инв. номер" }}
      </p>
      <p class='field'>
          {{ filter.form.location|attr:"class:text-input"|attr:"list:locations"|attr:"placeholder:Расположение" }}
      </p>
        <datalist id="locations">
          {% for location in locations %}
            <option value="{{ location.location }}">
          {% endfor %}
        </datalist>
      <p class='field'>
          {{ filter.form.desc|attr:"class:text-input"|attr:"placeholder:Описание" }}
      </p>
          <!-- NUMBER OF PAGES SELECTOR -->
      <p class='field'>
      <select name="paginate_by" class="select" id="paginator_sel" onchange="this.form.submit()">
          <option value="10">10 записей</option>
          <option value="20">20 записей</option>
          <option value="30">30 записей</option>
          <option value="50">50 записей</option>
          <option value="100">100 записей</option>
      </select>
      </p>
      <script>
        $('#paginator_sel').change(function(event){
                var selectedcategory = $(this).children("option:selected").val();
                sessionStorage.setItem("itemName",selectedcategory);
        });

        $('select').find('option[value='+sessionStorage.getItem('itemName')+']').attr('selected','selected');
      </script>
        <!-- END OF NUMBER OF PAGES SELECTOR-->
      <p class='field'>
        <button type="submit" class="button"><i class="fa fa-search"></i></button>
      </p>
    </form>
</div>
<!-- END OF FILTER -->

<!--- PAGINATOR --->
<div class="container" style="margin-left: auto; margin-right: auto; justify-content: center;">
        <div class="pagination" style="margin-left: auto; margin-right: auto; justify-content: center;">
          {% if page_obj.has_previous %}
          <a href="?page=1{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><i class="fas fa-chevron-left"></i></a>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <a style="color: #FB667A;" href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a>
            {% elif i > page_obj.number|add:-4 and i < page_obj.number|add:4 %}
            <a href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.paginator.num_pages }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><i class="fas fa-chevron-right"></i></a>
          {% endif %}
        </div>
    </div>
<!-- END OF PAGINATOR -->

{% if devices %}
<table class="container" id="main_table">
	<thead>
		<tr>
      <th><h1>Узел</h1></th>
      <th><h1>Название</h1></th>
      <th><h1>IP адрес</h1></th>
      <th><h1>Состояние</h1></th>
      <th><h1>Инв. номер</h1></th>
      <th><h1>Сер. номер</h1></th>
      <th><h1>Расположение</h1></th>
      <th><h1>Описание</h1></th>
      <th><h1>Дата обновления</h1></th>
      <th><h1>Изменить/Удалить</h1></th>
    </tr>
  </thead>
    <tbody>
        {% for el in devices %}
    <tr>
        <td><a href="{% url 'detail' el.id %}"  style="color:#FB667A;">{{ el.hostname }}</a></td>
      <td>{{ el.name }}</td>
      <td><a href="http://{{ el.ipaddr }}"  style="color:white" target="_blank">{{ el.ipaddr }}</a></td>
      <td style="text-align: -webkit-center;">

        {% if el.status == 'Offline' %}
          
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="#FF0000" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
          
        {% elif el.status == 'Online' %}
          
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="#339900" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          
        {% elif el.status != 'Offline' or el.status != 'Online' %}
          
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle-fill" fill="#FFFF00" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z"/>
            </svg>
          
        {% endif %}

        {% if el.dev_detail.all.first.black_tonerlevel > 0 and el.dev_detail.all.first.black_tonerlevel < 10 %}
        <svg width="1em" height="1em"  style="color:black" viewBox="0 0 16 16" class="bi bi-droplet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z"/>
          </svg>
          {{ el.dev_detail.all.first.black_tonerlevel }}%
        {% endif %}

        {% if el.dev_detail.all.first.cyan_tonerlevel > 0 and el.dev_detail.all.first.cyan_tonerlevel < 10 %}
        <svg width="1em" height="1em"  style="color:cyan" viewBox="0 0 16 16" class="bi bi-droplet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z"/>
          </svg>
          {{ el.dev_detail.all.first.cyan_tonerlevel }}%
        {% endif %}

        {% if el.dev_detail.all.first.mag_tonerlevel > 0 and el.dev_detail.all.first.mag_tonerlevel < 10 %}
        <svg width="1em" height="1em"  style="color:magenta" viewBox="0 0 16 16" class="bi bi-droplet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z"/>
          </svg>
          {{ el.dev_detail.all.first.mag_tonerlevel }}%
        {% endif %}
        {% if el.dev_detail.all.first.yel_tonerlevel > 0 and el.dev_detail.all.first.yel_tonerlevel < 10 %}
        <svg width="1em" height="1em"  style="color:yellow" viewBox="0 0 16 16" class="bi bi-droplet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6zM6.646 4.646c-.376.377-1.272 1.489-2.093 3.13l.894.448c.78-1.559 1.616-2.58 1.907-2.87l-.708-.708z"/>
          </svg>
          {{ el.dev_detail.all.first.yel_tonerlevel }}%
        {% endif %}
      </td>
      <td>{{ el.inv_num }}</td>
      <td>{{ el.serial_num }}</td>
      <td>{{ el.location }}</td>
      <td>{{ el.desc }}</td>
      <td>{{ el.update_date|date:"d.m.Y H:i" }}</td>
      <td style="display: -webkit-inline-box;"><a href="/edit/{{el.id}}" style="color:white">
            <div class="icon-center"">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                </svg>
          </div></a>
          <form id="delete_form_{{el.id}}" action="{% url 'delete' el.id %}" method="post">{% csrf_token %}</form>
          <a href="javascript:void()" onclick="delete_question_{{el.id}}()" style="color:white">
              <script>
	            function delete_question_{{el.id}}() {
		            if (confirm("Хотите удалить запись {{el.hostname}} ?")) {
			            document.getElementById('delete_form_{{el.id}}').submit()
			                  }
			            }
              </script>
          <div class="icon-center" style="margin-right: 20px; margin-left: 20px;">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
          </div></a>
      </td>
    </tr>
        {% endfor %}
      </tbody>
</table>
    {% else %}
        <h1>В базе данных нет записей</h1>
    {% endif %}
{% endblock %}

